html, body {
  margin: 0;
  padding: 0;
  /* max-height: 100vh; */
}

#myCanvas {
  display: block;
}

#myCanvas.hide {
  display: none;
}

.gallery {
  display: block;
}

.gallery.hide {
  display: none;
}

.splide__slide img {
  width: 100%;
  /* object-fit: cover; */
}

/* Splide settings */
.splide__arrows {
  display: none;
}

.splide__progress__bar {
  background-color: rgb(63, 255, 191) !important;
}