@font-face {
  font-family: Futura;
  src: url("font/Futura.ttc");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Futura, Arial, Helvetica, sans-serif;
  /* max-height: 100vh; */
}

#myCanvas {
  display: block;
  position: relative;
  transition-behavior: allow-discrete;
  transition: all 0.3s;
  opacity: 1;
}

#myCanvas.hide {
  display: none;
  opacity: 0;
}

@starting-style {
  #myCanvas {
    opacity: 0;
  }
}

/* Prompt screen */
.prompt {
  display: block;
  transition-behavior: allow-discrete;
  transition: opacity 0.3s;
  opacity: 1;

  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  top: 20%;
  /* bottom: 10%; */
  left: 5%;
  width: 20%;
  padding: 32px;
}

@starting-style {
  .prompt {
    opacity: 0;
  }
}

.prompt.hide {
  display: none;
  opacity: 0;
}

.prompt.right {
  left: auto;
  right: 5%;
}

.promptMsg {
  font-size: 20px;
  margin-bottom: 16px;
}

.promptMsg span {
  font-weight: bold;
  color: #df0707;
}


/* Finished animation */
.finishedAnimation {
  display: none;
  padding-top: 25vh;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  background: #080808;
  left: 0;
  color: #f9f9f9;
}

.finishedAnimation.right {
  left: auto;
  right: 0;
}

/* Finger illustrations */
.fingder {
  width: 100%;
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  top: 19%;
  display: none;
  position: absolute;
  left: 5vh;
}

.loadingMsg {
  color: #f9f9f9;
  margin-bottom: 40px;
  font-size: 20px;
}

.loader.right {
  right: 5vh;
  left: auto;
}

.loadingAnimRightWrapper {
  display: flex;
  justify-content: flex-end;
}

.loadingAnimation {
  width: 20px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

/* -------------
 * Gallery------
 -------------*/
.gallery {
  display: block;
  transition-behavior: allow-discrete;
  transition: all 0.3s;
  opacity: 1;
}

.gallery.hide {
  display: none;
  opacity: 0;
}

@starting-style {
  .gallery {
    opacity: 0;
  }
}

.splide {
  position: relative;
  overflow: hidden; /* optional */
}

.splide__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* progress bar height */
}

.splide__progress__bar {
  background-color: #9201cb !important;
}

.splide__pagination__page {

}
.splide__pagination__page.is-active {
  background-color: #9201cb !important;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.pattern_container {
  position: relative;
  display: block;
  height: 65%;
  /* object-fit: cover; */
  box-shadow: 0 10px 26px -10px rgba(0, 0, 0, .2);
}

.splide__slide img {
  height: 100%;
}

.pattern_timestamp {
  text-align: right;
  position: absolute;
  left: -22%;
  top: 0;
  bottom: 0;
  writing-mode: sideways-lr;
  font-family: Futura;
}

.pattern_date {
  font-size: 24px;
  margin-top: 4px;
}

.pattern_time {
  font-size: 64px;
  line-height: 1;
}

/* Splide settings */
.splide__arrows {
  display: none;
}

/* Checkmart animation */
.animation-ctn{
  text-align:center;
  margin-top:5em;
  /* transform: scale(2); */
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 200px
  }
}

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 200px
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px
  }

  100% {
    stroke-dashoffset: 0px
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px
  }

  100% {
    stroke-dashoffset: 960px;
  }
}

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px
  }

  100% {
    stroke-dashoffset: 960px
  }
}

@keyframes colored-circle {
  0% {
    opacity:0
  }

  100% {
    opacity:100
  }
}

.inlinesvg .svg svg {
  display: inline
}

.icon--order-success svg polyline {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}
.icon--order-success svg circle#colored {
  -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
  animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}