html, body {
  margin: 0;
  padding: 0;
  /* max-height: 100vh; */
}

#myCanvas {
  display: block;
  position: relative;
}

#myCanvas.hide {
  display: none;
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  display: none;
  position: absolute;
  left: 5vh;
  top: 18.5%;
  width: 20px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff 0 0);
  background:
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

.loader.right {
  right: 5vh;
  left: auto;
}


/* -------------
 * Gallery------
 */-------------
.gallery {
  display: block;
}

.gallery.hide {
  display: none;
}

.splide__slide img {
  width: 100%;
  /* object-fit: cover; */
}

/* Splide settings */
.splide__arrows {
  display: none;
}

.splide__progress__bar {
  background-color: rgb(63, 255, 191) !important;
}
