@font-face {
  font-family: Futura;
  src: url("font/FuturaCyrillicMedium.ttf");
}

html, body, * {
  margin: 0;
  padding: 0;
  font-family: Futura, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* --------------------
* Gallery
-------------------- */
.gallery {
  display: block;
  transition-behavior: allow-discrete;
  transition: all 1.8s;
  opacity: 1;
  position: relative;
}

@starting-style {
  .gallery {
    opacity: 0;
  }
}

.splide {
  position: relative;
  overflow: hidden; /* optional */
}

.splide__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px; /* progress bar height */
}

.splide__progress__bar {
  background-color: #9201cb !important;
}

.splide__pagination__page.is-active {
  background-color: #9201cb !important;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

.pattern_container {
  position: relative;
  display: block;
  height: 65%;
  box-shadow: 0 10px 26px -10px rgba(0, 0, 0, .2);
}

.splide__slide img {
  height: 100%;
}

.pattern_timestamp-wrapper {
  position: absolute;
  left: -24%;
  top: -4px;
  bottom: 0;
}

.pattern_timestamp-text {
  margin-bottom: 8px;
  margin-right: 2px;
}

.pattern_timestamp {
  text-align: right;
  writing-mode: sideways-lr;
  font-family: Futura;
}

.pattern_date {
  font-size: 24px;
  margin-top: 4px;
  margin-left: -4px;
}

.pattern_time {
  font-size: 64px;
  line-height: 1;
  margin-left: 12px;
}

.btn.btn-download {
  position: absolute;
  right: 0;
  top: -46px;
  padding: 8px 12px;
  background-color: #9201cb;
  color: #eaeaea;
  border: none;
  transition: background-color .3s;
  text-decoration: none;
}

/* Splide settings */
.splide__arrows {
  display: none;
}

/* --------------------
* Info overlay
-------------------- */
.info {
  position: absolute;
  left: 16px;
  top: 16px;
  border: 1px solid #000;
  box-shadow: 0 10px 26px -10px rgba(0, 0, 0, .2);
  background-color: #efefef;
  padding: 16px;
  font-size: 16px;
  font-family: Futura;
  transition: color 0.3s;
}

.info-btn-open {
  z-index: 1;
}

.info-textWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.info-textWrapper.show {
  transition: opacity 0.3s ease, visibility 0s 0s;
  visibility: visible;
  opacity: 1;
}

.btn {
  font-family: Futura;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  background: none;
}

.info-btn-close {
  border: none;
  padding: 16px 0;
  transition: color 0.3s;
}

.info-text {
  max-width: 470px;
  padding-top: 0;
  max-height: calc(100vh - 32px);
  overflow-y: scroll;
}

.info-text p:first-of-type {
  margin: 0;
}

.info-text p {
  margin: 16px 0 0;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .pattern_timestamp-wrapper {
    left: auto;
    right: 0;
    top: -64px;
    text-align: right;
  }

  .pattern_timestamp {
    writing-mode: horizontal-tb;
    display: flex;
    align-items: baseline;
  }

  .pattern_timestamp-text {
    font-size: 12px;
  }

  .pattern_time {
    font-size: 32px;
  }

  .pattern_date {
    font-size: 16px;
  }

  .btn.btn-download {
    right: auto;
    left: 0;
  }
}

@media screen and (max-width: 544px) {
  .pattern_container {
    height: auto;
    width: calc(100% - 32px);
  }

  .pattern_timestamp-wrapper {
    top: -58px;
  }

  .pattern_timestamp-text {
    margin-bottom: 4px;
  }

  .splide__slide img {
    width: 100%;
  }

  .info-text {
    right: 16px;
  }

  .btn.btn-download {
    top: -43px;
  }
}

@media screen and (max-width: 420px) {
  .btn.btn-download {
    right: 0;
    left: auto;
    top: auto;
    bottom: -43px;
    font-size: 12px;
  }
}

@media screen and (max-width: 324px) {
  .pattern_time {
    font-size: 24px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    color: #606060;
  }

  .btn.btn-download:hover {
    color: #eaeaea;
    background-color: #ac03ef;
  }
}
